/*feuille de style 

*/
/* id */


/*class */
header {

}

nav {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.menuNav {
	width:20%;
	display: flex;
	justify-content: space-around;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #555;
	font-size: 12px;
}
a:hover {
	text-decoration: underline;
}

.top {
	display: flex;
	justify-content: center;

}
.search {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}	

footer {

	background-color:   #f2edec;
	
}
.country {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #808B96;
	padding: 10px;
	margin-top: 50px;
}

.otherLinks {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #808B96;
}